body{
    background-color: khaki;
    text-decoration-color: darkslateblue;
    padding-left: 20%;
    padding-right: 20%;
}
button{
    box-shadow: 2px 2px black;
}
#taskInput{
    border: double;
    background-color: bisque;

}
#submitButton{
    background-color: cornflowerblue;
    text-decoration-color: black;
}
#taskList{
    border: solid;
    text-decoration-color: black;
    background-color: bisque;
    padding-bottom: 5%;

}
.completed{
    background-color: cornflowerblue;
    text-decoration-color: black;
    margin-right: 7px;
}
.remove{
    background-color: crimson;
    text-decoration-color: black;
}
h1{
    text-decoration-color: darkgreen;
}
.reset{
    background-color: lightcoral;
    margin-right: 7px;
}
.task .reset{
    background-color: gray;
}
.taskInput{
    height: 25px;
    width: 75%;
}
.task{
    padding-bottom: 5px;
}